#wc_eu_vat .inside {
	margin: 0;
	padding: 0;
}
#wc_eu_vat p {
	margin: 12px !important;
}
.wc-eu-vat-table {
	width: 100%;
	margin: 5px 0;
}
.wc-eu-vat-table th, .wc-eu-vat-table td {
	text-align: left;
	padding: 7px 12px;
}
.eu-vat-overview {
	margin: 0;
}
.column-eu_vat {
	width: 10%;
	color: #555;
}
.column-eu_vat ul li {
	color: #555;
}